<div id="registrations-container">
  <h1>Dashboard</h1>
  <div class="row-wrapper">
    <%= form_with url: registrations_path, method: :get, local: true, data: { turbo_frame: "registrations" }, class: "search-form" do %>
      <%= text_field_tag :query, params[:query], placeholder: "ค้นหา...", class: "search-input" %>
      <%= submit_tag "Search", class: "search-button" %>
    <% end %>
    <%= button_to '+ Register', register_modal_registrations_path, method: :get, class: 'register-button' %>
  </div>

  <turbo-frame id="registrations">
    <% if @registrations.present? %>
      <table class="registrations-table">
        <thead>
          <tr>
            <th><%= sort_link('firstName', 'First Name', class: 'sortable-link') %></th>
            <th><%= sort_link('lastName', 'Last Name', class: 'sortable-link') %></th>
            <th><%= sort_link('birthday', 'Birthday', class: 'sortable-link') %></th>
            <th><%= sort_link('gender', 'Gender', class: 'sortable-link') %></th>
            <th><%= sort_link('email', 'Email', class: 'sortable-link') %></th>
            <th><%= sort_link('phone', 'Phone', class: 'sortable-link') %></th>
            <th><%= sort_link('subject', 'Subject', class: 'sortable-link') %></th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @registrations.each do |registration| %>
            <tr id="registration_<%= registration.id %>">
              <td><%= registration.firstName %></td>
              <td><%= registration.lastName %></td>
              <td><%= registration.birthday %></td>
              <td><%= registration.gender %></td>
              <td><%= registration.email %></td>
              <td><%= registration.phone %></td>
              <td><%= registration.subject %></td>
              <td id="actions-row">
                <%= button_to 'Delete', confirm_delete_registration_path(registration), method: :get, class: 'delete-button', id: "delete_button_#{registration.id}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="no-registrations-message">No registrations found.</p>
    <% end %>
  </turbo-frame>

  <%= link_to 'Back to Register', root_path, class: 'back-to-home-button' %>
</div>

<%= turbo_frame_tag "modal" %>